<section class="container card border-muted">
	<p class="card-header bg-primary text-center text-white">Crear Estudiante</p>
	<div class="card-body">
		<form action="">
			<div class="row g-3">
				<div class="col-md-6">
					<label for="names" class="form-label">Nombres:</label>
					<input
						type="text"
						class="form-control is-valid"
						id="names"
						value="Mark"
						required />
					<div class="valid-feedback mb-3">Looks good!</div>
					<label for="lastnames" class="form-label">Apellidos:</label>
					<input
						type="text"
						class="form-control is-valid"
						id="lastnames"
						value="Gutierrez Sanchez"
						required />
					<div class="valid-feedback mb-3">Looks good!</div>
					<label for="phone" class="form-label">Género:</label>
					<select
						class="form-select is-valid"
						id="genero"
						name="genero"
						required>
						<option selected disabled value="">Seleccione una opción</option>
						<option value="F" selected>Femenino</option>
						<option value="M">Masculino</option>
					</select>
					<div class="valid-feedback mb-3">Looks good!</div>
				</div>
				<div class="col-md-6">
					<label for="dni" class="form-label">DNI:</label>
					<input
						type="text"
						class="form-control is-valid"
						id="dni"
						value="4193611"
						required />
					<div class="valid-feedback mb-3">Looks good!</div>
					<label for="birth" class="form-label">Fecha de nacimiento:</label>
					<input
						type="date"
						class="form-control is-valid"
						id="birth"
						value="2017-06-01"
						min="1940-04-01"
						required />
					<div class="valid-feedback mb-3">Looks good!</div>
					<label for="phone" class="form-label">Teléfono:</label>
					<input
						type="tel"
						class="form-control is-valid"
						id="phone"
						value="051-994427826"
						required />
					<div class="valid-feedback mb-3">Looks good!</div>
				</div>
			</div>
			<button type="submit" class="btn btn-outline-primary float-end">
				<i class="fas fa-database"></i>
				&nbsp;Guardar
			</button>
		</form>
	</div>
</section>
