<div class="table-responsive">
	<table class="table table-hover table-bordered border-ligth caption-top">
		<caption class="text-primary">
			Lista de estudiantes
		</caption>
		<thead class="table-dark">
			<tr>
				<th scope="col">Apellidos y Nombres</th>
				<th scope="col">Género</th>
				<th scope="col">Dni</th>
				<th scope="col">Fecha de nacimiento</th>
				<th scope="col">Teléfono</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Flores de la Rosa Liliana</td>
				<td>F</td>
				<td>42193625</td>
				<td>29/10/1983</td>
				<td>051-722413</td>
				<td>
					<i class="fas fa-pencil text-warning"></i>&nbsp;
					<i class="fas fa-trash text-danger"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
